body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
}



h3 {
    color: aqua;
}

div {
    width: 24%;
    border: 5px solid red;
    padding: 15px;
    text-align: justify;
    display: inline-block;

    /* transparent background */
    background-color: rgba(255, 255, 255, 0.0);

    margin: 10px 10px 10px 10px;
}

.salim {
    color: rgb(251, 255, 0);
    font-weight: bolder;
}

#Meem {
    color: beige;
}