body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../BG.png");
    /* move up one folder, then into images */
    background-size: cover;
    background-repeat: no-repeat;
}



h3 {

    border: 5px solid rgb(4, 4, 82);
    color: aqua;

    box-shadow: 7px 7px 7px 0px aquamarine;
    display: inline-block;


}

div {
    width: 24%;
    border: 5px solid red;
    padding: 15px;
    text-align: justify;
    display: inline-block;

    /* transparent background */
    background-color: rgba(255, 255, 255, 0.0);

    margin: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px 0px red;
}

.salim {
    color: rgb(251, 255, 0);
    font-weight: bolder;
}

#Meem {
    color: rgb(1, 167, 37);
}